

<div class="row">

  <div class="large-9 push-3 columns">
    <div style="padding: 12px" >Paychecks:

        <% @paychecks.each do |paycheck| %>
        <h6><p><strong> For the week: </strong><%= paycheck.start_date %>-<%= paycheck.end_date %> <br>
        <strong>Amount:</strong> $ <%= paycheck.hr_base*paycheck.hr_qty %></p></h6>
    </div>
  </div>
    <% end %>

  <div class="large-3 pull-9 columns">
    <ul class="side-nav">
      <div class="panel">
        <li><h3>My Babies</h3></li>

        <% @babies.each do |baby| %>

        <li>  <%= image_tag "mashabear.jpg", size:"70x70" %>
            <p><strong> First name: </strong><%= baby.first_name %> <br>
              <strong>Date of Birth:</strong> <%= baby.dob %></p>
        </li>
            <% end %>
        </div>
    </ul>
  </div>

</div>
